<div class="home-page-wrapper">


  <div class="image-wrapper">
    <img src="/images/IMG_1882.jpg" alt=""> <!--public\images\IMG_1882.jpg-->
  </div>

  <div class="home-page-content-wrapper">
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile id="1">
            <a [routerLink]="['/about']">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>About Me</mat-card-title>
                    </mat-card-header>
                    <img src="/images/FullSizeRender.JPEG" alt="">
                </mat-card>
            </a>
        </mat-grid-tile>
        <mat-grid-tile id="2">
            <a [routerLink]="['/projects']">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Projects</mat-card-title>
                    </mat-card-header>
                    <img src="/images/TimeComplexitySort.png" alt="" style="height: 452px;">
                </mat-card>
            </a>
        </mat-grid-tile>
    </mat-grid-list>
  </div>


</div>
