.banner-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    a{
        text-decoration: none;
        color: white;
    }
    border-bottom: 1px solid black;
}

.footer-wrapper{
    background-color: #007bff;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-top: 1px solid black;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #007bff;
}